
.arrow{
    vertical-align: center;
}

.my-0 p-2{
    text-decoration: none;
}
a, a:hover,a:visited, a:focus {
    text-decoration:none;
}


/*body{*/

/*}*/
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding:  0 15px;
}
.header{
    border-bottom: 1px solid #bdbdbd;
}
.split-line{
    border-bottom: 1px solid #bdbdbd;

}

.menu{
    height: 40px;
}
.menu a{
     font-size: 18px;
     color: #3b3b3b;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     white-space: nowrap;

}

.arrow-v{
        border-left: 2px solid #bdbdbd;
        height: 63px;
        display: inline-block;
        width: 2px;
}

.sub__header__desc{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.work__time{
    font-weight: 400;
    font-size: 12px;
}

.sub__header-clock{
    width: 13px;
    height: 13px;
}
.contact__phone{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #70a000;
}
.more__phone-numbers{
    color: #a9a9a9;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom-style: dotted;
}
.arrow-down{
    height: 10px;
    width: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.shop-description li{
    list-style-type: none;
}

.logo{
    width: 359px;
    height: 78px;
}

.cart-block{
    background-color: #8ecf04;
}
.img-wrap {
    position: relative;
}
.img-wrap p {
    position: absolute;
    left: 30px;
    bottom: 0;
    top: 30px;
    width: 100%;
}
.productsCount{
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.cart{
    padding-top: 35px;
}

.productsPrice{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.totalPrice{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.arrow-down{
    margin-left: 5px;
}

.sub__header-clock{
    margin-right: 5px;
    margin-bottom: 2px;
}

.location-img , .callback-icon{
    margin-right: 5px;
}

.tab-1 , .tab-2 , .tab-3{
    border: solid #ffffff;
        border-width: 0 0 3px 0;
        display: inline-block;
        padding-top: 12px;
        margin-left: 15px;
        width: 28px;
        height: 3px;
        display: block;

}
.burger{
    width: 55px;
    height: 55px;
}
.burger-menu__inner p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.burger-menu__inner{
    background-color: #f76c06;
}

.tab-4{
    border: solid #c45300;
    border-width: 0 3px 0 0;
    display: inline-block;
    width: 3px;
    height: 57px;
    display: block;
}

.catalog-text{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 100px;
}
.input{
    width: 1050px;
    max-height: 61px;
    padding-left:5px ;padding-right:5px ;
}
.catalog{
    height: 61px;
}


.input{
    border: 1px solid #a9a9a9;
    background: url('../img/searc-icon.jpg') no-repeat;
    background-position: 99% 50%;
}


input[type="textfield"]::placeholder {
    padding-bottom: 25px;
}

.background{
    background-image: url("../img/slide.png");
    height: 580px;
}

.slider-img{
    padding-top: 130px ;
    padding-left: 200px;
}

.w3-display-container{
    position: relative;
}

/*.before-price{*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 1000px;*/
/*}*/

.second__block{
    position: absolute;
    top: 185px;
    left: 1000px;
}

.slider-img{
    position: absolute;
    left: 400px;
    top: 237px;
}
.first__block{
    position: absolute;
    left: 50px;
    top: 68px;
}

.date{
    position: absolute;
    padding-top: 50px;
    padding-left: 40px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.sale{
    padding-top: 10px;
    font-size: 266px;
    color: #df0015;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 200px;
    margin-bottom: 150px;

}

.sale-text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 40px;
    color:#ffffff ;
}

.product-description {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.before-price{
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.after-price{
    color: white;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.buy-btn{
    background-color: #f76c06;
    color: #ffffff;

}

.card-title{
    color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card-body-1{
    background-image: url("../img/1.png");
    height: 420px;
    width: 420px;
}
.card-body-2{
    background-image: url("../img/2.png");
    height: 420px;
    width: 420px;
}
.card-body-3{
    background-image: url("../img/3.png");
    height: 420px;
    width: 420px;
}

.btn-details-1{
    color: #ffffff;
    background-color: #88ce0b ;
    margin-left: 124px;


    height: 60px;
    width: 175px;
    font-size: 22px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
}
.btn-details-2{
    color: #ffffff;
    background-color: #f76c06 ;
    height: 60px;
    width: 175px;
    font-size: 22px;
    margin-left: 124px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
}

.btn-details-3{
    color: #ffffff;
    background-color: #f76c06 ;
    height: 60px;
    width: 175px;
    margin-left: 124px;
    font-size: 22px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
}

.card{
    height: 420px;
    width: 420px;


}

.card-deck{
    padding: 70px;
}

.card-title{
    padding-top: 105px;
    text-align: center;
}

.card-content{
    color: white;
    font-size: 18px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;

    text-align: center;

}

.horizontal-line-1{
    border: solid #88ce0b;

    border-width: 0 0 3px 0;
    display: inline-block;
    padding-top: 12px;
    margin-left: 173px;
    width: 87px;
    height: 4px;
    display: block;
    margin-bottom: 40px;
}

.horizontal-line-2{
    border: solid #f76c06;
    border-width: 0 0 3px 0;
    display: inline-block;
    padding-top: 12px;
    margin-left: 173px;
    width: 87px;
    height: 4px;
    display: block;
    margin-bottom: 40px;
}
.horizontal-line-3{
    border: solid #f76c06;
    border-width: 0 0 3px 0;
    display: inline-block;
    padding-top: 12px;
    margin-left: 173px;
    width: 87px;
    height: 4px;
    display: block;
    margin-bottom: 40px;
}

.products-type{
    margin-top: 70px;
    margin-bottom: 90px;
}

.title__line{
    border: solid #88ce0b;
    border-width: 0 0 3px 0;
    width: 872px;
    margin-bottom: 27px;
    margin-left: 5px;
}
.title-block{
    margin-bottom: 32px;

}


.section__title{
    font-size: 36px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
    color: #000000;
}

.arrow-left-wrapper{
    margin-left: 20px;
    height: 43px;
    width: 61px;
}

.arrow-right-wrapper{
    margin-left: 10px;
    height: 43px;
    width: 61px;
}

.ing-sale{
    position: relative;
}

.sale-img-txt , .new-img-txt {
    position: absolute;
    top: 7px;
    left: 14px;
    font-size: 14px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: bold;
    color			: white;
    font-size: 10px;
}

.ing-new , .ing-sale{
    margin-bottom: 10px;
}



.product__cart{
    margin-left: 25px;

    height: 464px;
    min-width: 330px;
    border: 2px  solid gray;
}

.ing-new{
    position: relative;
    left: 0;
}

.buy--item{
    width: 120px;
    height: 42px;
    font-size: 18px;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
    color: #ffffff ;
    background-color: #f76c06 ;
    border: none;
}

.buy__one-click{
    margin-left: 30px;
    padding: 0;
}

.product__list-price{
    margin-left: 55px;
}
.buy__one-click{
    font-size: 14px;
    color: #6b6b6b;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;

}

.product__price{
    font-size: 12px;
    color: #6b6b6b;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}
.product__list_delivery{
    font-size: 12px;
    color: #6b6b6b;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
    margin-bottom: 0;

}
.product__list_avaliable{
    font-size: 12px;
    color: #6b6b6b;
    font-family: 'Roboto Light' , sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

.price__number{
    font-size: 20px;
    font-family: 'Roboto ' , sans-serif;
    font-weight: 400;
    color: #709f01;
    margin-block-start : 0;
    margin-block-end: 0;
    margin-bottom: 0;
}


.buy__one-click{
    margin-top: 12px;
}
.del__avaliable__options{
    margin-right: 30px;

}

.totalPrice{
    margin-top: 20px;
    font-size: 14px;
}
